/* settingan skala besar */
*{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    
}
input,button{
    cursor: pointer;
}
main{
    display:flex ;
    justify-content: space-around;
}
p{
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
}
section{
    padding: 40px 60px 40px 40px;
}
h1,h2{
    padding-bottom:20px ;
}


/* section kiri */

    /* bagian artikel atas */
.utama{
    text-align:justify;
    
}
    /* bagian form  */
.form-input{
    background-color:rgba(234, 231, 231, 0.948);
    height: 400px;
    padding: 15px;
    margin: 15px 0px 15px 0px;
}
.pilih{
    font-weight: bold;
}
label{
    font-weight: bold;
}
.jenis{
    display: flex;
}
.jenis label{
    padding-right: 5px;
}
.input p{
    width: 300px;
    padding: 20px 0px 3px 0px;
    font-weight: bold;

    
}
.input-kolom{
    border-radius: 4px;
    width: 95%;
    padding: 10px;
}
button{
    border: none;
    border-radius: 5px;
    padding:10px;
    margin-top:39px ;
    background-color: inherit;

}
.hitung{
    background-color:royalblue;
    color: white;
}
.reset{
   background-color: white;
}

    /* bagian artikel bawah */
.setelah p{
    padding-bottom: 1px;
}





/* section kanan */
    /* hasil */
.hasil{
    display: grid;
    align-content: center;
    text-align: center;
    width:43vw;
    height: 200px;
    background-color: rgba(234, 231, 231, 0.948);
}
#hasil{
    justify-self: center;
    align-content: center;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #333;
}
h4,.nilai{
    padding: 20px 0px 0px 0px;
}




/* footer */
footer{
    text-align: center;
}
